
<h2>User info</h2>
<%= image_tag current_user.get_profile_image(100,100) %>


<table class="table">
  <tr></tr>
  <tr>
    <th>name</th>
    <th><%= book.name %></th>
  </tr>
  <tr>
    <th>introduction</th>
    <th><%= book.introduction %></th>
  </tr>
</table>

<div class="row">
  <div class="btn btn-outline-secondary btn-block">
    <%= link_to edit_user_path(book) do %>
      <i class="fas fa-user-cog"></i>
   <% end %>
  </div>
</div>